body{
    width: 100%;
}
.container{
    background-color: rgb(156, 156, 156);
}
.fields{
    width:50%;
}
form{
    padding-bottom: 1em;
    padding-top: 1em;
}

h4{
    margin-left: 2em;
}

.input_field{
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .5em;
    padding-left: 2em;
}

.submit-buttons{
    margin: 1em 1em 1em 1em;
    border-radius: .4em;
    padding: 1em 1em 1em 1em;
    text-align: center;
}

.buttons{
    padding-bottom: 2em;
}

#map {
    width: 50%;
    height: 350px;
    float: right;
    margin-right: 3em;
    margin-top: 2em;
  }





