#result {
    display:block;
    font-family: sans-serif;
    width:230px;
    height:40px;
    margin:10px auto;
    text-align: right;
    border:0;
    background:#ffffff;
    color:#000000;
    padding-top:20px;
    font-size:20px;
    margin-left: 25px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    position: relative;
    top:10px;
    margin-right: 2em;
}

.main{
    background-color: #423b3e;
    font-size: 1em;
    position: absolute;
    padding-bottom: .8em;
}

.btn-style{
    font-size: 1.3em;
    border-radius: 50%;
    padding-left: .5em;
    padding-right: .5em;
    border: 2px solid #000000;
}
.buttons{
    padding-top: 1em;
    padding-left: 3em;
}

.delete{
    background-color: #ff0000;
}


